@using MaxiBootstrap.Models;
@{
    var mus = HttpContext.Current.getLoginUser();
    var isR = true;
    if (mus == null)
    { Response.Redirect($"~/{CsProp.isWeb_Controllers}/{CsProp.isWeb_LoginViews}"); isR = false; }
}
<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="/Content/images/icon.ico" rel="shortcut icon" />
    <title>機車物語</title>
    <meta name="description" content="Maxi Bootstrap" />
    @Styles.Render("~/Content/css")
</head>
<body data-default-background-img="/Content/twilli/bg5.jpg" data-overlay="true" data-overlay-opacity="0.35">
    <div id="outer-container">
        <!-- Left Sidebar -->
        <section id="left-sidebar">
            <div class="logo">
                <h3>
                    <a href="@(Url.Content($"~/{CsProp.isWeb_Controllers}/{CsProp.isWeb_IndexViews}"))" class="link-scroll">機車物語</a>
                </h3>
            </div>
            <!-- Menu Icon for smaller viewports -->
            <div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();">
                <span class="glyphicon glyphicon-th"></span>
            </div>
            <ul id="main-menu">
                @{
                    if (mus != null)
                    {

                        using (var db = CsFunc.DBExtend())
                        {
                            var liup = db.SYS_M_Url.Where(g => g.cenable && (g.cupseq < 0 || db.SYS_R_Auth.FirstOrDefault(x => x.cenable && x.caccountseq == mus.cseq && x.curlseq == g.cseq) != null)).ToArray();
                            /*頁面權限判斷*/
                            if (isR)
                            {
                                var ControllerName = this.ViewContext.ControllerName();
                                var ActionName = this.ViewContext.ActionName();
                                if (liup.FirstOrDefault(g => g.ccontrollers.ToStringUpper() == ControllerName && g.cview.ToStringUpper() == ActionName) == null)
                                {
                                    Response.Redirect($"~/{CsProp.isWeb_Controllers}/{CsProp.isWeb_IndexViews}?{CsProp.isWeb_Title}={Server.UrlEncode("無此路徑")}");
                                }
                            }
                            foreach (var i in liup.Where(g => g.cenable && new[] { -1, 0 }.Contains(g.cupseq)).OrderBy(s => s.csort))
                            {
                                <li class="menu-item scroll">
                                    <a href="@(Url.Content($"~/{i.ccontrollers}/{i.cview}?{CsProp.isWeb_Title}={Server.UrlEncode(i.cname)}"))">﹎&nbsp;@(i.cname)&nbsp;﹎</a>
                                </li>
                                foreach (var g in liup.Where(g => g.cenable && g.cupseq == i.cseq).OrderBy(s => s.csort))
                                {
                                    <li class="menu-item scroll">
                                        <a href="@(Url.Content($"~/{g.ccontrollers}/{g.cview}?{CsProp.isWeb_Title}={Server.UrlEncode(g.cname)}"))">@(g.cname)</a>
                                    </li>
                                }
                                <li id="menu-item-text" class="menu-item scroll">
                                    <a></a>
                                </li>
                            }
                        }
                    }
                }
            </ul>
        </section>
        <!-- end: Left Sidebar -->
        <section id="main-content" class="clearfix">
            @RenderBody()
            <article id="dverror" class="section-wrapper clearfix" data-custom-background-img="/Content/twilli/bg1.jpg">
                <div class="content-wrapper clearfix">
                    <div class="col-sm-10 col-md-9 pull-right">
                        <h1 class="section-title">錯誤訊息</h1>
                        <p id="dvbug" class="feature-paragraph">
                        </p>
                    </div>
                </div>
            </article>
        </section><!-- #main-content -->
        <!-- Footer -->
        <section id="footer">
            <!-- Go to Top -->
            <div id="go-to-top" onclick="scroll_to_top();">
                <span class="icon glyphicon glyphicon-chevron-up"></span>
            </div>
            <ul class="social-icons">
                <li>
                    <a href="#" target="_blank" title="Facebook"><img src="/Content/twilli/facebook.png" alt="Facebook"></a>
                </li>
                <li>
                    <a href="#" target="_blank" title="Twitter"><img src="/Content/twilli/twitter.png" alt="Twitter"></a>
                </li>
                <li>
                    <a href="#" target="_blank" title="Google+"><img src="/Content/twilli/googleplus.png" alt="Google+"></a>
                </li>
            </ul>
            <!-- copyright text -->
            <div class="footer-text-line">&copy; Copy 2017-@(DateTime.Now.ToTwDateTime().Year) MaximusChang</div>
        </section>
        <!-- end: Footer -->
    </div><!-- #outer-container -->
    <!-- end: Outer Container -->
    @Scripts.Render("~/bundles/jquery")
    @*不拉出來，容易被Cache*@
    <script src="~/Scripts/jquery.ext.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(window).on("load", function () {
            $.post("@Url.Content("~/Select/S_Stock")").done(function (d) {
                if (!d.length) { return; }
                for (var i in d) {
                    var gx = d[i].cseq;
                    $.post("@Url.Content("~/Select/S_TWSE")", { cno: d[i].cno }).done(function (q) {
                        var qa = $(q).find(".til_2:contains(證券概況)").parents("table:eq(0)").find("tr:eq(2) td:eq(1)").text();
                        var cno = $(q).find(".til_2:contains(證券概況)").text().split(" ");
                        if (qa != "" && $.isNumeric(qa) && cno.length) { $.post("@Url.Content("~/Select/U_Stock")", { cno: cno[3], qa: qa }); }
                    });
                }
            });
        });
    </script>
</body>
</html>
