@{var mcu = UnobtrusiveSession.UserProfile;}
<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="/Content/images/icon.ico" rel="shortcut icon" />
    <title>機車物語</title>
    <meta name="description" content="Maxi Bootstrap" />
    @Styles.Render("~/Content/css")
</head>
<body data-default-background-img="/Content/twilli/bg5.jpg" data-overlay="true" data-overlay-opacity="0.35">
    <div id="outer-container">
        <!-- Left Sidebar -->
        <section id="left-sidebar">
            <div class="logo">
                <h3>
                    <a href="@(Url.Content($"~/{CsProp.isWeb_Controllers}/{CsProp.isWeb_IndexViews}"))" class="link-scroll">機車物語</a>
                </h3>
            </div>
            <!-- Menu Icon for smaller viewports -->
            <div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();">
                <span class="glyphicon glyphicon-th"></span>
            </div>
            <ul id="main-menu">
                @{
                    using (var db = CsFunc.DBExtend())
                    {
                        var liup = db.SYS_M_Url.Where(g => g.cenable && (g.cisnonauth || db.SYS_R_Auth.FirstOrDefault(x => x.cenable && x.caccountseq == mcu.cseq && x.curlseq == g.cseq) != null)).ToArray();
                        foreach (var i in liup.Where(g => g.cupseq == -1).OrderBy(s => s.csort))
                        {
                            var lido = liup.Where(g => g.cupseq == i.cseq);
                            <li class="menu-item scroll">
                                <a href='@(lido.Count()>1?"#": Url.Content($"~/{i.ccontrollers}/{i.cview}?{CsProp.isWeb_Title}={Server.UrlEncode(i.cname)}"))'>﹎&nbsp;@(i.cname)&nbsp;﹎</a>
                            </li>
                            foreach (var g in lido.OrderBy(s => s.csort))
                            {
                                <li class="menu-item scroll">
                                    <a href='@(Url.Content($"~/{g.ccontrollers}/{g.cview}?{CsProp.isWeb_Title}={Server.UrlEncode(g.cname)}"))'>@(g.cname)</a>
                                </li>
                            }
                            <li id="menu-item-text" class="menu-item scroll">
                                <a></a>
                            </li>
                        }
                    }
                }
            </ul>
        </section>
        <!-- end: Left Sidebar -->
        <section id="main-content" class="clearfix">
            @RenderBody()
            <article id="dverror" class="section-wrapper clearfix" data-custom-background-img="/Content/twilli/bg1.jpg">
                <div class="content-wrapper clearfix">
                    <div class="col-sm-10 col-md-9 pull-right">
                        <h1 class="section-title">錯誤訊息</h1>
                        <p id="dvbug" class="feature-paragraph"></p>
                    </div>
                </div>
            </article>
        </section><!-- #main-content -->
        @Scripts.Render("~/bundles/jquery")
        @{Html.RenderPartial("~/Views/PARTVIEW/_CopyRight.cshtml"); }
    </div><!-- #outer-container -->
    <!-- end: Outer Container -->
    <script src="~/Scripts/jquery.ext.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(window).on("load", function () {
            iscloseblockui = true;
            $.post("@Url.Content("~/Select/S_Stock")").done(function (d) {
                if (!d.length) { return; }
                for (var i in d) {
                    iscloseblockui = true;
                    $.post("@Url.Content("~/Select/S_TWSE")", { cno: d[i].cno }).done(function (q) {
                        var hq = $(q);
                        var cno = hq.find("#csvTitle2").text().split(" "),
                            csv = hq.find("#csvTable2 td");
                        if (cno.length) {
                            var indt = csv.eq(5).text().replace(/年|月|日/g, "/");
                            if (Date.parse(indt)) {
                                indt = new Date(indt);
                                indt = $.addition(indt.getFullYear(), 1911) + "/" + $.addition(indt.getMonth(), 1) + "/" + indt.getDate();
                            } else { indt = null; }
                            $.post("@Url.Content("~/Select/U_Stock")", {
                                cno: cno[1],
                                cname: cno[2],
                                camount: $.division($.addition(csv.eq(0).text(), csv.eq(2).text()), 2),
                                cinsdt: indt
                            });
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>
