<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="cache-control" content="no-cache">
    <link href="/Content/images/icon.ico" rel="shortcut icon" />
    <title>機車物語</title>
    <meta name="description" content="Maxi Bootstrap" />
    @*@Styles.Render("~/Content/logincss")*@
    @*<link href="~/Content/way.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Scripts/vegas-2.4.0/vegas.min.css">
    <meta name="google-signin-client_id" content="@(CsProp.isOAuth_ClientID)">
</head>
<body>
    <div class="container-fluid">
        <div class="coming-soon">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 shadow">
                        <div class="site-title">
                            <h1>機車物語</h1>
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="mastfoot text-center">
            @{Html.RenderPartial("~/Views/PARTVIEW/_CopyRight.cshtml"); }
        </div>
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/vegas-2.4.0/vegas.min.js"></script>
    @*不拉出來，容易被Cache*@
    <script src="~/Scripts/jquery.ext.js" type="text/javascript"></script>
    <script>
        $(window).on("load", function () {
            /*背景*/
            $("body").vegas({
                animation: 'random',
                slides: [{ src: '@(Url.Content("~/Content/images/cssLgoinBg.min.jpg"))' }]
            });
        });
    </script>
</body>
</html>
