
@{Layout = null;}
@using MaxiBootstrap.Models;
<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="cache-control" content="no-cache">
    <link href="/Content/images/icon.ico" rel="shortcut icon" />
    <title>Moto Story</title>
    <meta name="description" content="Maxi Bootstrap" />
    @Styles.Render("~/Content/logincss")
    <link href="~/Content/way.css" rel="stylesheet" />
    <meta name="google-signin-client_id" content="@(CsProp.isOAuth_ClientID)">
</head>
<body>
    <div class="container-fluid">
        <div class="coming-soon">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 shadow">
                        <div class="site-title">
                            <h1>Moto Story</h1>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2 shadow">
                        <div class="site-lead">
                            <p>Want to find a future, there are plans, there are quantifiable record of life, for me it is important numbers, or bits and pieces of the process. In addition, the website where the Chinese font ugly ... had to use English to maintain the beauty of the page.</p>
                            <p>Do not ask why I called "locomotive Story"?</p>
                            <p>
                                Because you can not ask me,
                                <span id="btnwhy">"Why?"</span> Haha...
                            </p>
                        </div>
                        @(ViewBag.Msg)
                        <form id="frm" name="frm" method="post" >
                            <input type="hidden" name="id_token" id="id_token" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mastfoot text-center">
            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
            @{Html.RenderPartial("~/Views/PARTVIEW/_CopyRight.cshtml"); }
        </div>
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(window).on("load", function () {
            $("#id_token").val("");
        });
        function onSignIn(googleUser) {
            $("#id_token").val("");
            $("#id_token").val(googleUser.getAuthResponse().id_token);
            if ($("#id_token").val() != "") { $("#frm").submit(); }
        }
    </script>
</body>
</html>
